*{
    box-sizing: border-box;
}


video{
    border: 20px black;
    background-color: black;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content:center ;
    align-items: center;
}